/* header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
} */

.logo {
    max-width: 55px;
    filter: drop-shadow(1px 1px 3px rgb(156, 156, 156));
    margin: .5em;
}

.nav-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.nav-wrapper::before,
.nav-wrapper::after {
    content: '';
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.nav-wrapper nav {
    position: fixed;
    z-index: 3;
    top: 0;
    /* display: flex;
    justify-content: flex-end; */
    align-items: center;
}

.navigation {
    max-width: 600px;
    border-radius: 5px;
    filter: var(--isl);
    background-color: rgb(219, 211, 201);
    /* padding-right: 30px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    outline: none;
    margin: 1em 1em 0 0;
}

.nav-wrapper ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 0;
    overflow: hidden;
    transition: .4s cubic-bezier(.77, 0, .18, 1);
}

.nav-wrapper.active ul {
    width: 520px;
}

.navigation li {
    font-size: 22px;
    margin: 10px 0;
}

a {
    color: var(--clr-dark);
    text-decoration: none;
    transition: .3s;
    padding: 10px;
}

.navigation a:hover {
    color: var(--clr-accent);
}

.nav-toggler {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 48px;
    padding: 14px 5px;
    cursor: pointer;
}

.nav-wrapper:not(.active) .nav-toggler {
    margin-left: -10px;
}

.nav-toggler::before,
.nav-toggler::after {
    content: '';
    position: relative;
    display: block;
    width: 35px;
    height: 6px;
    background-color: var(--clr-accent);
    transition: .4s cubic-bezier(.77, 0, .18, 1);
    text-align: center;
    margin-left: -15px;
}

.nav-toggler::after {
    margin-top: 10px;
}

.nav-wrapper.active .nav-toggler::before,
.nav-wrapper.active .nav-toggler::after {
    position: absolute;
    top: 50%;
    background-color: var(--clr-dark);
    transform: rotate(135deg);
}

.nav-wrapper.active .nav-toggler::after {
    transform: rotate(-135deg);
    margin-top: 0;
}