.my-services {
    /* background: var(--clr-dark); */
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, .8));
    background-blend-mode: multiply;
    color: var(--clr-light);
    text-align: center;
}

.section_title-services {
    color: var(--clr-accent);
    position: relative;
}

.section_title-services::after {
    content: '';
    display: block;
    width: 3em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: currentColor;
    opacity: 0.35;
}

.services {
    margin-bottom: 4em;
}

.service {
    max-width: 500px;
    margin: 0 auto;
}

.language {
    list-style: none;
    display: flex;
    justify-content: center;
}

.language-list {
    list-style-type: none;
}

.language-item {
    float: left;
    display: block;
    text-align: center;
}

.language-img {
    width: 3em;
    margin-left: 2em;
}

@media (min-width: 1200px) {
    .services {
        display: flex;
        max-width: 70vw;
        margin-left: auto;
        margin-right: auto;
    }

    .service+.service {
        margin-left: 3em;
    }
}

.about-me {
    max-width: 1000px;
    margin: 0 auto;
}

.about-me_img {
    filter: var(--is);
}

@media (min-width: 600px) {
    .about-me {
        display: grid;
        grid-template-columns: 1fr 300px;
        grid-template-areas:
            "title img"
            "subtitle img"
            "text img";
        grid-column-gap: 2em;
    }

    .section_title-about {
        grid-area: title;
    }

    .section_subtitle-about {
        grid-column: 1/-1;
        grid-row: 2;
        position: relative;
        left: -2em;
        width: calc(100% + 4em);
        padding-left: 2em;
        padding-right: calc(200px + 4em);
    }

    .about-me_img {
        grid-area: img;
        position: relative;
    }

    .language-img {
        width: 4em;
        margin-left: 2em;
    }
}