.my-work {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;
}

.portfolio {
    display: grid;
    grid-gap: 3px 3px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    border-radius: 5px;
}

.portfolio_item {
    z-index: 2;
    overflow: hidden;
    transition: transform 500ms ease-in-out;
    filter: var(--isl);
    border-radius: 5px;
    background-color: transparent;
}

.portfolio_item:hover {
    transform: scale(1.10);
}

.portfolio_item:focus {
    position: relative;
    transform: scale(1.120);
}

.portfolio_img {
    transition: transform 750ms cubic-bezier(.5, 0, .5, 1), opacity 250ms linear;
}

.portfolio_img:hover,
.portfolio_item:focus .portfolio_img {
    transform: scale(1.2);
    opacity: .5;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: var(--clr-accent);
}

a:hover .overlay {
    transform: scale(1.2);
    opacity: .9;
}

.text {
    color: var(--clr-light);
    font-size: 20px;
    position: relative;
    list-style-type: none;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}